nav#linha_azul{
	height: 100px;
	background-color: rgb(34, 173, 194);
	margin: 0 auto;

}

span#img1{
	padding-left: 60px;
}

span#img2{
	padding-left: 990px;
}

.topo input{
	float: right;
	width: 60px;
	height: 30px;
	border-radius: 10px;
	margin-top: -5%;
	margin-right: 9%;
	background-color: red;
	font-weight: bold;
	font-size: 15px;
	color: white;
}