<!DOCTYPE html>
<html>


<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/form_pesquisa.css" />
<head>
    <meta charset="UTF-8">
    <title>Página de Pesquisa</title>
</head>
<body>
		<nav id="linha_azul">
			<span id="img1">
				<img src="/img/img_logo.png">
			</span>
			
		</nav>
		<header class="topo">
                   <a href="http://localhost:8080/nba/inicial_coordenador"> <input type="submit" name="Sair" value="Voltar"> </a>
        </header>
		
    <form method="get" action="/nba/visualizar">
        <center><label for="nome">Digite o Nome:</label>
        <input style="width:560px; height:50px;" type="text" id="nome" name="nome">
        <button style="height:50px;" type="submit" >Pesquisar</button></center>
    </form>
    <div th:if="${not #lists.isEmpty(nbas)}">
        <h2>Resultados:</h2>
        <div th:replace="tabela :: tabela"></div>
    </div>
    
    <script src="/js/bootstrap.min.js"> </script>
</body>
</html>