<!DOCTYPE html>
<html>
    <head>
        <title> Horário </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/horario.css" />
    </head>
    <body>
        <div id="container">

            <nav id="linha_azul">
                <span id="img1">
                    <img src="/img/img_logo.png">
                </span>
                
                <header class="topo">
                   <a href="http://localhost:8080/nba/inicial_professor"> <input type="submit" name="Sair" value="Voltar"> </a>
        		</header>
                
            </nav>
            <main>
                <h1>Horário Individual do Professor</h1>
                <table class="tabela">
                  <tr>
                    <td class="horario">HORÁRIO</td>
                    <td class="dia">Segunda-feira</td>
                    <td class="dia">Terça-feira</td>
                    <td class="dia">Quarta-feira</td>
                    <td class="dia">Quinta-feira</td>
                    <td class="dia">Sexta-feira</td>
                  </tr>
                  <tr>
                    <td class="hora">07:00 às 09:00</td>
                    <td>9° ano A (Português)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="hora">09:20 às 11:20</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>9° ano A (Português)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="hora">13:00 às 15:00</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>7° ano B (Português)</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="hora">15:20 às 17:20</td>
                    <td>7° ano B (Português)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
            </main>

        </div>
    </body>
</html>