<!DOCTYPE html>
<html>
    <head>
        <title> Página Visualizar Disciplinas </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/inserir_notas.css" />
    </head>
    <body>
        <div id="container">

           <nav id="linha_azul">
			<span id="img1">
				<img src="/img/img_logo.png">
			</span>
			<header class="topo">
                   <a href="http://localhost:8080/nba/inicial_professor"> <input type="submit" name="Sair" value="Voltar"> </a>
        	</header>
			
			
		</nav>

        <main>
            <section class="caixa_turmas">
                <h1>Disciplinas do Professor</h1>
                <a href=""><div class="turma tur-01">
                    <h2>Turma: 7° ano B</h2>
                    <h2>Turno: Tarde</h2>
                    <h2>Disciplina: Português</h2>
                </div></a>
                <a href=""><div class="turma tur-02">
                    <h2>Turma: 9° ano A</h2>
                    <h2>Turno: Manhã</h2>
                    <h2>Dsiciplina: Português</h2>
                </div></a>
                  
                <p> .</p>
            </section>
        </main>

        </div>
    </body>
</html>