<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<link rel="stylesheet" type="text/css" href="/css/pagina_inicial.css" />
	
	
    <head>
        <title>Pagina Inicial do Diretor</title>
        <meta charset="utf-8">
        <meta name="author" content="@Eugênio Oliveira, @Francisco Mendonça e @Renato Nascimento">
        <meta name="description" content="Página Inicial do usuario cadastrado como coordenador">

    

    </head>
    <body>
        <div id="principal">
            <header class="topo">
                <img src="/img/logo_login.png">
                   <a href="http://localhost:8080/nba/login"> <input type="submit" name="Sair" value="Sair"> </a>
            </header>

            <main>
                <section class="menu">
                    <nav>
                        <ul>
         
                            <a href="http://localhost:8080/nba/turmas"><li>Visualizar Turmas</li></a>
                            <hr>
                        </ul>
                    </nav>
                </section>
                <section class="mural">

                    <div class="indica_pagina">
                        <p>Página Inicial do Diretor</p>
                    </div>

                    <h1>Mural</h1>

                    <div class="informe info-1">
                        <a href="https://cedro.ce.gov.br/informa.php?id=2349">
                            <img src="/img/informacao01.png" alt=""></a>
                        <a href="https://cedro.ce.gov.br/informa.php?id=2349">
                            <h1>Alunos da rede municipal passam por avaliação diagnóstica</h1>
                            <p>A avaliação é iniciativa própria da Secretaria Municipal de Educação para o diagnóstico do aprendizado dos alunos. Os objetivos são: identificar a realidade de cada turma, especificamente de cada aluno; observar se [...]</p>
                        </a>
                        <a href="https://cedro.ce.gov.br/informa.php?id=2349"><h3>Leia mais</h3></a>
                    </div>

                    <div class="informe info-2">
                        <a href="https://cedro.ce.gov.br/informa.php?id=2330">
                            <img src="/img/informacao02.png" alt="">
                        </a>
                        <a href="https://cedro.ce.gov.br/informa.php?id=2330">
                            <h1>Prefeitura lança Bolsa Social 2023 para cursos na UNIVS (Faculdade Vale do Salgado)</h1>
                            <p>Incentivar a formação dos jovens cedrenses é fundamental para a construção de uma cidade melhor, de mais oportunidades. A Prefeitura lançou edital para a Bolsa Social 2023, iniciativa que garante algumas [...]</p>
                        </a>
                        <a href="https://cedro.ce.gov.br/informa.php?id=2330"><h3>Leia mais</h3></a>
                    </div>   

                    <div class="informe info-3">
                        <a href="https://educacao.uol.com.br/noticias/2023/02/21/nordeste-lidera-indicadores-educacao.htm">
                            <img src="/img/informacao03.png" alt=""></a>
                        <a href="https://educacao.uol.com.br/noticias/2023/02/21/nordeste-lidera-indicadores-educacao.htm">
                            <h1>Nordeste lidera índices de educação; Pernambuco e Ceará são destaques</h1>
                            <p>Avanços na educação básica. Em 2021, o Nordeste foi a região do Brasil que mais progrediu em relação aos resultados de 2017 no Ioeb (Índice de Oportunidades da Educação Brasil), da Comunidade [...]</p>
                        </a>
                        <a href="https://educacao.uol.com.br/noticias/2023/02/21/nordeste-lidera-indicadores-educacao.htm"><h3>Leia mais</h3></a>
                    </div>   

                </section>                   

            </main>
            <footer class="rodape">
                
                <p>Copyright &copy; 2023</p>

            </footer>
        </div>
    </body>

</html>