<!DOCTYPE html>
<html>
    <head>
        <title> Página Visualizar turmas </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/visualizar_turmas.css" />
    </head>
    <body>
        <div id="container">

           <nav id="linha_azul">
			<span id="img1">
				<img src="/img/img_logo.png">
			</span>
			<header class="topo">
                   <a href="http://localhost:8080/nba/inicial_diretor"> <input type="submit" name="Sair" value="Voltar"> </a>
        	</header>
			
			
		</nav>

        <main>
            <section class="caixa_turmas">
                <h1>Turmas da Escola São José</h1>
                <a href="http://localhost:8080/nba/turma_6A"><div class="turma tur-01">
                    <h2>Turma: 6° ano A</h2>
                    <h2>Turno: Manhã</h2>
                </div></a>
                <a href=""><div class="turma tur-02">
                    <h2>Turma: 7° ano A</h2>
                    <h2>Turno: Manhã</h2>
                </div></a>
                <a href=""><div class="turma tur-03">
                    <h2>Turma: 8° ano A</h2>
                    <h2>Turno: Manhã</h2>
                </div></a>
                <a href=""><div class="turma tur-04">
                    <h2>Turma: 9° ano A</h2>
                    <h2>Turno: Manhã</h2>
                </div></a>
                <a href=""><div class="turma tur-05">
                    <h2>Turma: 6° ano B</h2>
                    <h2>Turno: Tarde</h2>
                </div></a>
                <a href=""><div class="turma tur-06">
                    <h2>Turma: 7° ano B</h2>
                    <h2>Turno: Tarde</h2>
                </div></a>
                <a href=""><div class="turma tur-07">
                    <h2>Turma: 8° ano B</h2>
                    <h2>Turno: Tarde</h2>
                </div></a>
                <a href=""><div class="turma tur-08">
                    <h2>Turma: 9° ano B</h2>
                    <h2>Turno: Tarde</h2>
                </div></a>
                <p> .</p>
            </section>
        </main>

        </div>
    </body>
</html>